Source: workspaces-session
Section: x11
Priority: optional
Maintainer: Herculean Inc <hello@hercules.dev>
Uploaders: Herculean Inc <hello@hercules.dev>
Build-Depends: debhelper (>= 10)
Standards-Version: 1.0.0
Homepage: https://github.com/herculean-inc/workspaces-session

Package: workspaces-session
Architecture: all
Depends: ${misc:Depends},
         gnome-shell,
         workspaces-material-shell,
         gnome-shell-extension-alt-tab-raise-first-window,
         gnome-shell-extension-always-show-workspaces,
         gnome-shell-extension-desktop-icons,
         gnome-shell-extension-do-not-disturb,
         gnome-shell-extension-pop-battery-icon-fix,
         gnome-shell-extension-pop-shop-details,
         gnome-shell-extension-pop-suspend-button,
         gnome-shell-extension-system76-power,
         gnome-session-bin,
         gnome-session-common,
         pop-gnome-shell-theme,
         xwayland,
Provides: x-session-manager, gnome-session
Breaks: workspaces-default-settings (<< 1)
Replaces: workspaces-default-settings (<< 1)
Description: GNOME session for Workspaces
 This package contains the GNOME session used by Workspaces.
